<table class="table table-hover table-responsive  table-bordered">
    <caption>List of users</caption>
    <thead>
      <tr class="col bg-warning">
        <th scope="col">Sl.No</th>
        <th scope="col">NAME OF THE HELPER</th>
        <th scope="col">NAME OF THE BUDS/LSGI</th>
        
        <th scope="col">DATE OF BIRTH</th>
        <th scope="col">PHONE NUMBER</th>
        
        <th scope="col">EDUCATIONAL QUALIFICATION</th>
        <th scope="col">PRESENT SALARY</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
       
        <td>Jacob</td>
        <td>Thornton</td>
   
        <td>Larry</td>
        <td>the Bird</td>
        
      </tr>
    </tbody>
  </table>

