<div class="container">
<div class="container-fluid text-center ">
    <div class="card text-center">
        <div class="row d-flex">
           
              


                    <!-- Home and Logo -->
                   <!-- End of home and Logo -->
                   <h1 class="login">Login</h1> 

                   <br>
                   
                 <br>
                    <br>
                    <form name="loginForm" #userLogin="ngForm" (ngSubmit)="login()" novalidate=true >
                        <br>
                        <br>

                        <div class="row px-3">
                            <select name="role" class="form-control form-select form-select-md user-sel" aria-label=".form-select-md example" 
                                required #role='ngModel' [(ngModel)]='user.role'>
                                    <option value='' selected>Select User</option>
                                    <option value="admin">SuperAdmin</option>
                                    <option value="trainer">District</option>
                                    <option value="trainer">Institute</option>

                            </select>
                        </div>
                        <p class='text-danger' [class.d-none]='role.valid || (role.untouched && role.pristine && !(email.valid && password.valid))'>
                            Please select a user role.
                        </p>
                        <br>
                        <div class="row px-3"> 
                            <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label> 
                            <input class="form-control" type="email" name="email" placeholder="Enter a valid email address"
                                required pattern='^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}'
                                #email='ngModel' [class.is-valid]='email.valid' [class.is-invalid]='email.invalid && email.touched' 
                                [(ngModel)]='user.email'/>
                            <p class='text-danger' [class.d-none]='email.valid || email.untouched'>Please enter a valid email.</p>
                        </div>
                        <div class="row px-3"> 
                            <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label> 
                            <input class="form-control" type="password" name="password" placeholder="Enter password" required minlength="8"
                                #password='ngModel' [class.is-valid]='password.valid' [class.is-invalid]='password.invalid && password.touched' 
                                [(ngModel)]='user.password'/>
                            <div class='text-danger' [class.d-none]='password.valid || password.untouched'>
                                <span [class.d-none]='!(password.errors && password.errors.required)'>Password can not be blank.</span> 
                                <span [class.d-none]='!(password.errors && password.errors.minlength)'>Password should be minimum 8 characters</span> 
                            </div>
                        </div>
                        <br>
                        <div class="row"> 
                            <div class="mb-3 px-3">
                                <button type="submit" class="btn btn-blue text-center" [disabled]='userLogin.form.invalid'>Login</button>
                            </div>
                            <div class="mb-3 px-3">
                                <a routerLink="/institute-home"><button type="submit" class="btn btn-blue text-center enrolbtn">Register</button></a>
                            </div>
                        </div>
                        
                      </form>

                      </div>
                      </div>
                      </div>

         </div>
                      
  