<div class="container d-flex justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <h1 class="heading text-center">Institute Registration Form</h1>
            
            <form #regForm='ngForm' (ngSubmit)="register()">
                <!-- Success/error message card -->
                <div id="success" class="text-center col-12" [class.d-none]='status=="none"'>
                    <div class='alert alert-warning' [class.d-none]='status!="connecting"'>
                        <strong>Registering..</strong>
                    </div>
                    <div class='alert alert-success' [class.d-none]='status!="success"'>
                        <strong>Successfully registered</strong>
                    </div>
                    <div class='alert alert-danger' [class.d-none]='status!="error"'>
                        <strong>{{errorMsg}}</strong>
                    </div>
                </div>
                <!-- End of success/error message card -->
                <!-- Name -->
                <div class="form-group">
                    <label for="iname">Name of the institution</label>
                    <input id="name" name="name" type="text" class="form-control" placeholder="Enter name of the institution" required
                    #name='ngModel' [class.is-valid]='name.valid' [class.is-invalid]='name.invalid && name.touched'
                    [(ngModel)]='institute.name'/>
                    <p class='text-danger' [class.d-none]='name.valid || name.untouched'>Institute name can not be blank.</p>
                </div>
                <!-- Institute type buds/brc -->
                <div class="form-group">
                    <label for="type">BUDS School or BRC?</label>
                    <select class="form-control" name="type" required #type='ngModel'
                    [class.is-valid]='type.valid' [class.is-invalid]='type.invalid && type.touched'
                    [(ngModel)]='institute.type'>
                    <option value="" selected>Select Institute Type</option>
                        <option value="BUDS School">BUDS School</option>
                        <option value="BRC">BRC</option>
                    </select>
                    <p class='text-danger' [class.d-none]='type.valid || (type.untouched && (lsgi.invalid))'>
                        Please select institute type.
                    </p>
                </div>
                <!-- District -->
                <div class="form-group">
                    <label for="district">District</label>
                    <select class="form-control" name="district" required #district='ngModel'
                    [class.is-valid]='district.valid' [class.is-invalid]='district.invalid && district.touched'
                    [(ngModel)]='institute.district'>
                        <option value="" selected>Select District</option>
                        <option *ngFor='let x of districts' value='{{x}}'>{{x}}</option>
                    </select>
                    <!-- Show validation message when user leaves these dropdown inputs unselected and enter a value in next input field(lsgi)  -->
                    <p class='text-danger' [class.d-none]='district.valid || (district.untouched && (lsgi.invalid))'>
                        Please select a district.
                    </p>
                </div>
                <!-- LSGI -->
                <div class="form-group">
                    <label for="lsgi">Name of the Panchayath/ Municipality/ Corporation</label>
                    <input id="lsgi" name="lsgi" type="text" class="form-control" placeholder="Enter name of LSGI" required
                    #lsgi='ngModel'[class.is-valid]='lsgi.valid' [class.is-invalid]='lsgi.invalid && lsgi.touched'
                    [(ngModel)]='institute.lsgi'>
                    <p class='text-danger' [class.d-none]='lsgi.valid || lsgi.untouched'>LSGI name can not be blank.</p>
                </div>
                <!-- email -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" class="form-control" placeholder="Enter email id" required pattern='^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}'
                    #email='ngModel' [class.is-valid]='email.valid' [class.is-invalid]='email.invalid && email.touched' 
                    [(ngModel)]='institute.email'>
                    <p class='text-danger' [class.d-none]='email.valid || email.untouched'>Please enter a valid email.</p>
                </div>
                <!-- phone -->
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" minlength="10" maxlength="10" class="form-control" placeholder="Enter phone number" name="phone" required
                        #phone='ngModel' [class.is-valid]='phone.valid' [class.is-invalid]='phone.invalid && phone.touched' 
                        [(ngModel)]='institute.phone'/>
                    <p class='text-danger' [class.d-none]='phone.valid || phone.untouched'>Please enter a valid 10 digit phone number.</p>
                </div>
                <br>
                <div class="align-center">
                    <button type="submit" class="btn btn-default btnclr" id="register" [disabled]="regForm.form.invalid">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>