<h2>LIST OF THERAPISTS</h2>
<br>
<table class="table table-hover table-responsive  table-bordered">
    
    <thead>
      <tr class="col bg-success">
        <th scope="col">Sl.No</th>
        <th scope="col">NAME OF THE THERAPIST</th>
        <th scope="col">NAME OF THE BUDS/LSGI</th>
        <th scope="col">DESIGNATION</th>
        <th scope="col">INTERVAL OF VISIT</th>
        <th scope="col">PHONE NUMBER</th>
        
        <th scope="col">EDUCATIONAL QUALIFICATION</th>
        <th scope="col">PRESENT SALARY/DAILY WAGE</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Jacob</td>
        <td>Thornton</td>
      
        <td>Larry</td>
        <td>the Bird</td>
        
      </tr>
    </tbody>
  </table>

