
<div class="container">

    <div class="row">
        <div class="column left" >
            
            <div class="card  mb-3" style="max-width: 20rem; max-height: 6rem;">
                <div class="card-body  text-center">
                    <div class="col text-center">
                        <span class="h2 font-weight-bold mb-0">3508</span>
                        <h6 class="card-title text-uppercase text-dark mb-0">TOTAL STUDENTS</h6>
                        
                      </div>
                 </div>
              </div>

              <div class="card mb-3" style="max-width: 20rem; max-height: 6rem;">
                
                <div class="card-body  text-center">
                    <div class="col text-center">
                        <span class="h2 font-weight-bold mb-0">508</span>
                        <h6 class="card-title text-uppercase text-dark mb-0">BOYS ABOVE 18</h6>
                        
                      </div>
                 </div>
              </div>

              <div class="card  mb-3" style="max-width: 20rem; max-height: 6rem;">
                
                <div class="card-body  text-center">
                    <div class="col text-center">
                        <span class="h2 font-weight-bold mb-0">308</span>
                        <h6 class="card-title text-uppercase text-dark mb-0">BOYS BELOW 18</h6>
                        
                      </div>
                 </div>
              </div>

              <div class="card  mb-3" style="max-width: 20rem; max-height: 6rem;">
                
                <div class="card-body text-center">
                    <div class="col text-center">
                        <span class="h2 font-weight-bold mb-0">3508</span>
                        <h6 class="card-title text-uppercase text-dark mb-0">GIRLS ABOVE 18</h6>
                        
                      </div>
                 </div>
              </div>

              <div class="card  mb-3" style="max-width: 20rem; max-height: 6rem;">
                
                <div class="card-body text-center">
                    <div class="col text-center">
                        <span class="h2 font-weight-bold mb-0">3508</span>
                        <h6 class="card-title text-uppercase text-dark mb-0">GIRLS BELOW 18</h6>
                        
                      </div>
                 </div>
              </div>

              
        </div>
        
        <div class="column middle" >
          <div class="container-fluid">
            
            <router-outlet></router-outlet>
          </div>
            
        </div>


        <div class="column left">
            <div class="card  mb-3" style="max-width: 20rem; max-height: 6rem;">
                
                <div class="card-body  text-center">
                    <div class="col text-center">
                        <span class="h2 font-weight-bold mb-0">3508</span>
                        <h6 class="card-title text-uppercase text-dark mb-0">AUTISM</h6>
                        
                      </div>
                 </div>
              </div>

              <div class="card  mb-3" style="max-width: 20rem; max-height: 6rem;">
                
                <div class="card-body  text-center">
                    <div class="col text-center">
                        <span class="h2 font-weight-bold mb-0">3508</span>
                        <h6 class="card-title text-uppercase text-dark mb-0">MR</h6>
                        
                      </div>
                 </div>
              </div>

              <div class="card  mb-3" style="max-width: 20rem; max-height: 6rem;">
                
                <div class="card-body  text-center">
                    <div class="col text-center">
                        <span class="h2 font-weight-bold mb-0">3508</span>
                        <h6 class="card-title text-uppercase text-dark mb-0">CP</h6>
                        
                      </div>
                 </div>
              </div>

              <div class="card  mb-3" style="max-width: 20rem; max-height: 6rem;">
                
                <div class="card-body text-center">
                    <div class="col text-center">
                        <span class="h2 font-weight-bold mb-0">3508</span>
                        <h6 class="card-title text-uppercase text-dark mb-0">MD</h6>
                        
                      </div>
                 </div>
              </div>

              <div class="card  mb-3" style="max-width: 20rem; max-height: 6rem;">
                
                <div class="card-body text-center">
                    <div class="col text-center">
                        <span class="h2 font-weight-bold mb-0">3508</span>
                        <h6 class="card-title text-uppercase text-dark mb-0">OTHERS</h6>
                        
                      </div>
                 </div>
              </div>

              
        
        </div>
       
    </div>
</div>