
 <div class="row">
     <div class="col-xl-2 col-lg-6 ">
        <a routerLink="teacher">
                
            <div class="p-3 border text-dark text-center bg-info" >TEACHER</div>
        </a>

     </div>
     <br>
     <div class="col-xl-2 col-lg-6">
        <a routerLink="helper">
            <div class="p-3 border text-dark  text-center bg-warning">HELPER</div>
        </a>  

     </div>
     <br>
     <div class="col-xl-2 col-lg-6">
        <a routerLink="cook">
            
            <div class="p-3 border text-dark text-center bg-success">COOK</div>
        </a>
            

     </div>
     <br>
     <div class="col-xl-2 col-lg-6">
        <a routerLink="driver">
            <div class="p-3 border text-dark text-center bg-primary">DRIVER </div>
            </a>

     </div>
     <br>
     <div class="col-xl-2 col-lg-6">
        <a routerLink="therapist">

            <div class="p-3 border text-dark text-center bg-success">THERAPIST</div>
            </a>

     </div>
     
    
 </div>
 <div class="container">
    <router-outlet></router-outlet>
</div>
