<nav class="navbar navbar-expand-lg ">

  <div class="container-fluid">
     
      
    
    
    <img src="assets/buds.jpg" alt="" width="120" height="90">
  
    <a class="navbar-brand text-uppercase text-white" > <h2>KUDUMBASHREE BUDS,placename</h2>
    </a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsM4Q_85urqTfcle8x_gUc9JB_lC82uvo2hr3z6yFmxXViUW3uww0EgbwPJyWBS6FEVbM&usqp=CAU" alt="" width="120" height="100">
        <br>
        <br>
        
        <br>
        <br>
        
        
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg ">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-white" id="navbarNav">
    <ul class="navbar-nav ">
      <br>
      <br>
      <br>
      <li class="nav-item active" >
        <button type="button" class="btn btn-outline-light">
        <a class="nav-link text-white" routerLink="imagecontainer">HOME </a>
      </button>
      
      </li>
      <br>
      <li class="nav-item ">
        <button type="button" class="btn btn-outline-light">
        <a class="nav-link text-white" routerLink="staffdetails">STAFF</a>

      </button>
      
      </li>

      
        
      
      <br>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-light">
        <a class="nav-link text-white" href="students">STUDENTS</a>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-light">
        <a class="nav-link text-white" href="others">OTHERS</a>
        </button>
      </li>
      <br>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-light">
        <a class="nav-link text-white " href="others">SETTINGS</a>
        </button>
      </li>
      <br>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-light">
        <a class="nav-link text-white " href="/">LOGOUT</a>
        </button>
      </li>
    </ul>
  </div>
</nav>
