
  <table class="table table-hover table-responsive  table-bordered">
    <caption>List of users</caption>
    <thead>
      <tr class="col bg-danger">
        <th scope="col">Sl.No</th>
        <th scope="col">NAME OF THE CANDIDATE</th>
        <th scope="col">AGE</th>
        <th scope="col">BOY/GIRL</th>
        <th scope="col">NAME OF PARENT</th>
        <th scope="col">AADHAR NO.</th>
        <th scope="col">RATION CARD(COLOR)</th>
        <th scope="col">DISABILITY CATERED</th>
        <th scope="col">% OF DISABILITY</th>
        <th scope="col">PHONE NUMBER</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>9874563211</td>
        
      </tr>
    </tbody>
  </table>
