<table class="table table-hover table-responsive ">
    <caption>List of users</caption>
    <thead class="thead-success">
      <tr class="col bg-primary">
        <th scope="col">Sl.No</th>
        <th scope="col">BUILDING AREA</th>
        <th scope="col">TOTAL LAND 
          AVAILABLE</th>
        <th scope="col">OWN/RENTED
           BUILDING</th>
        <th scope="col">NUMBER OF 
          CLASS ROOMS</th>
        <th scope="col">NUMBER OF 
          TOILETS</th>
        <th scope="col">NUMBER OF 
          DIFFERENT 
          FRIENDLY 
          TOILETS</th>
        <th scope="col">SMART
           CLASS 
          AVAILABLE
          (YES/NO)</th>
        <th scope="col">VEHICLE 
          (OWN/RENTED)</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Larry</td>
        <td>the Bird</td>
        
      </tr>
    </tbody>
  </table>
